
.mdl-dialog__title{
  font-size: 12px;
}

.mdl-button{
  font-size: 12px;
  padding: 0 4px;
  line-height: normal;
  text-align: start;
  overflow-wrap: normal;
  height: 50px;
}

.event {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(102, 119, 143);
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 90%;
    border-radius: 15px;
    transition-duration: 0.1s;
    margin-top: 0;
    margin-bottom: 0.5em;
    grid-template-areas: 
        "event_type event_name event_name"
        "event_type event_pid event_time"
    ;
}
.event_name {
  grid-area: event_name;
  font-size: 12px;
  
}


.event_type {
  grid-area: event_type;
  font-size: 16px;
  
  padding-left: 5px;
}

.event_type:hover {
  border: solid rgb(136, 154, 182) 2px;
  cursor: pointer;
}

.event p {
  margin: 0px;
}

.event_time {
  grid-area: event_time;
  font-size: 10px;
}

.event_pid {
  grid-area: event_pid;
  font-size: 10px;
}

.event:hover {
  background-color: rgb(69, 84, 105);
  color:white;
}

.selected {
  background-color: rgb(41, 54, 72);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.selected:hover {
  background-color: rgb(22, 29, 39);
  color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.process {
  background-color: #0ec8b4;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.process:hover {
  height: 42px;
  width: 42px;
  background-color: #0e9a8c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

.col_cod div {
  display: flex;
  margin: 5px;
  gap: 5px;
  align-items: center;
}
.col_sec {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.col_cod {
  border: 0.25vw solid #97d23d;
  border-radius: 0.25vw;
  height: 85%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-bottom: 10px;
}

.active:hover {
  /* background-color: #ccc; */
  /* background-color: #880e4f; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* color: white; */
  display: flex;
  /* overflow: scroll; */
  /* display: block; */
  /* visibility: visible; */
}

#driver-highlighted-element-stage {
  background: transparent !important;
  outline: 5000px solid rgba(0, 0, 0, 0.75);
}

#driver-page-overlay {
  background: none !important;
}

.custom-issues {
  display: none;
}

.driver-fix-stacking {
  position: unset !important;
}

#log table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 3px solid purple; */
}

#log td,
#log th {
  /* color: white; */
  font-size: small;
  /* font-weight: bold; */
  text-align: center;
}

#log thead {
  /* background-color: #0E8847; */
  color: white;
}

#log tbody tr:nth-child(odd) {
  /* background-color: #ff33cc; */
  background-color: #ccc;
  /* color: black; */

  color: #444;
}

#log tbody tr:nth-child(even) {
  /* background-color: #e495e4; */
  background-color: #eee;
  /* color: black; */
  color: #444;
}

.none_display {
    display: none !important;
  }

@layer utilities {
  /* Custom scrollbar styling */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.row{
  display: flex;
  height: 50%;
  justify-content: space-around;
}

.clock_paused {
  /* background-color: green; */
  color: red !important;
}

.bins {
  height: 70%;
  width: auto;
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  /* justify-content: space-around; */
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  gap: 10%;
}



.panel {
  padding: 0 18px;
  background-color: white;
  /* display: none; */
  /* transition-duration: 0.4s; */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  max-height: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  transition: max-height 0.3s ease-in-out;
}
.panel::-webkit-scrollbar {
    display: none;
}

/* does not work */ 
/********/

@media (min-width: 768px) {
  .event_name {
    font-size: 16px;
  }
  .event_type {
    font-size: 20px;
  }
  .event_time{
    font-size: 14px;
  }
  .event_pid{
    font-size: 14px;
  }
  .event_id{
    font-size: 14px;
  }
  .mdl-dialog__title{
    font-size: 14px;
  }
  .mdl-button{
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .event_name {
    font-size: 18px;
  }
  .event_type {
    font-size: 22px;
  }
  .event_time{
    font-size: 16px;
  }
  .event_pid{
    font-size: 16px;
  }
  .event_id{
    font-size: 16px;
  }
  .mdl-dialog__title{
    font-size: 16px;
  }
  .mdl-button{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/***********/
